body
{
    background-image:url("lena.JPG");
    

}



header
{
    background:#f5c1a7;
    height:90px;
    width:95%;
    padding: 10px;
    margin:10px;
    border-radius:20px;
    border:solide 4px;
    
}
nav
{
    height:60px;
    padding:10px;
    position:absolute;
    top:120px;
    bottom:500px;
    left:50px;
    right:50px;

}
nav ul
{
    list-style-type:none;
    margin:4px;
}
nav li
{
    display: inline-block;
    height:40px;
    width:170px;
    padding-top:20px;
    background-image:linear-gradient(to right,rgb(252, 172, 235),rgb(166, 186, 200));
    font-family:arial;
    font-weight:bold;
    font-size:large;
    text-align:center;
    color:rgb(245, 189, 247);
    border-right-width:15px;
    border-right-style:solid;
    border-color:rgb(250, 182, 227);
    border-radius:10px;
}
nav li>a
{
    text-decoration:none;
}
nav li:hover
{
    color:#f1c2da;
    background-image:none;
    background-color:rgb(161, 154, 185);
}
nav li::first-letter
{
color:rgb(243, 195, 225);
}


article
{
    background:rgb(206, 231, 248);  
    height:250px;
    width:58%;
    border:black solid 1px;
    margin:10px;
    padding:10px;
    position:absolute;
    top:210px;
    bottom:160px;
}
aside
{
    background:rgb(247, 182, 247);
    height:200px;
    width:250px;
    margin:10px;
    padding:10px;
    top:210px;
    bottom:200px;
    position:absolute;
    left: 1000px;
}

footer
{
    background:#f5c1a7;
    height:100px;
    width: 90%;
    padding:10px;
    margin: 10px;
    position: absolute;
    top: 500px;
    border-radius:20px;
    border:black solid 1px;
}